/*#region Header */

h1
{
    height: 60px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: maroon;
    color: white;
    font-style: italic;
}

/*#endregion Header */

/*#region Navigation Bar */

/*#region Dropdown (currently unused)*/

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 120px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*#endregion Dropdown */

/*#region Page Navigation */

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    overflow: hidden;
}

.page-navigation {
    align-items: center;
    background-color: lightblue;
    border-style: double;
}

.page-nav-link {
    background-color: skyblue;
    border-style: solid;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    padding-right: 45px;
}

.page-nav-link > a {
    color: black;
    font-weight: bold;
}

/*#endregion Page Navigation */

nav
{
    align-items: center;
    display: flex;
    background-color: lightskyblue;
    font-weight: bold;
    border-style: double;
    height: 100px;
}

.nav-button, .nav-cur-button, .nav-lastname, .nav-lastname-cur {
    height: 100px;
    cursor: pointer;
    width: 120px;
    border-width: 2px;
    font-weight: bold;
    color: #115700;
}

.nav-button:hover {
    background-color: rgb(90, 236, 255);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.nav-cur-button {
    background-color: darkblue;
    color: white;
}

.nav-lastname, .nav-lastname-cur {
    text-align: center;
    font-weight: bold;
    float: left;
    text-transform: uppercase;
}

.nav-lastname:hover {
    background-color: darkblue;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

}

.nav-button {
    background-color: rgb(0, 191, 255);
}

.nav-lastname {
    background-color: blue;
    color: white;
}

.nav-lastname-cur {
    background-color: darkblue;
    color: white;
}

/*#endregion Navigation Bar */

body 
{
    background-color: gold;
    border-color: blue;
    border-style: ridge;
    margin: auto;
    max-width: 1200px;
    text-align: left;
    text-indent: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: fit-content;
}

.image
{
    text-align: center; 
    padding-bottom: 10px;
}

html
{
    background-color: darkgreen;
    padding-top: 10px;
}

.page-link:hover {
    background-color: lightgray;
}

#sources {
    height: 100%;
}

table {
    border-style: solid;
    max-width: 1200px;
    width: fit-content;
    margin: auto;
}

th, td {
    border-style: outset;
    width: 1200px;
}

th {
    background-color: blue;
    color: white;
    text-align: center;
}

td {
    font-weight: bold;
    border-color: white;
    color: maroon;
}